extends ../layouts/master.pug

block title
  title My Page - Test
block basicSeo
  meta(name='description' content='Test page')
  meta(name='keywords', content='test, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(rel='manifest', href='../manifest.json')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Dropdown
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    .jumbotron.jumbotron-fluid
      .container(style={height:'350px'})
      section.module.parallax.parallax-1(data-type='background' data-speed='10')
        .parallax-container
          h1 Motion
      section.module.parallax.parallax-2(data-type='background' data-speed='10')

    .bs-example
    #accordionExample.accordion
      .card
        #headingOne.card-header
          h2.mb-0
            button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne')
              i.fa.fa-plus
              |  HTML
        #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
          .card-body
            p
              | HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. 
              a(href='https://www.tutorialrepublic.com/html-tutorial/' target='_blank') Learn more.
      .card
        #headingTwo.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo')
              i.fa.fa-plus
              |  Bootstrap
        #collapseTwo.collapse.show(aria-labelledby='headingTwo' data-parent='#accordionExample')
          .card-body
            p
              | Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. 
              a(href='https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/' target='_blank') Learn more.
      .card
        #headingThree.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree')
              i.fa.fa-plus
              |  CSS
        #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
          .card-body
            p
              | CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. 
              a(href='https://www.tutorialrepublic.com/css-tutorial/' target='_blank') Learn more.
