link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.3.1.js')
.wrapper
  .second-bar
    .toggle
      i.fa.fa-bars.menu(aria-hidden='true')
    nav
      a.home(href='#') Home
      a.about(href='#') About
      a.services(href='#') Services
      a.portfolio(href='#') Portfolio
      a.contact(href='#') Contact
      a.blog(href='#') Blog
  .content-wrapper
    .content
      h2.articleName
        a(href='#') A Blog Post
      .author
        a(href='#twitterhandle') Charles Kitchton
        |  // June 25, 2017
      p
        | Here is a blog that just goes on and on. It&apos;s content is superficial and meaningless. No piont to make, no useful substance whatsoever. Why would someone even think of writing soething like this. So here we go.
      p
        | Babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble babble.
  .content-wrapper
    .content
      h2.articleName
        a(href='#') Another Blog Post
      .author
        a(href='#twitterhandle') Charles Kitchton
        |  // June 25, 2017
      p
        | Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah. Blah blah blah blah blah blah Blah blah blah blah blah blah.
  .content-wrapper
    .content
      h2.articleName
        a(href='#') A Blog Post About This
      .author
        a(href='#twitterhandle') Charles Kitchton
        |  // June 25, 2017
      p
        | Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda. Yadda yadda yadda yadda yadda yadda yadda yadda.
  .content-wrapper
    .content
      h2.articleName
        a(href='#') A Blog Post About That
      .author
        a(href='#twitterhandle') Charles Kitchton
        |  // June 25, 2018
      p
        | Yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yakkity yak.
