html
  head
    title Google
  body
    header
      nav
        ul#nav_bar
          li#gmail.nav-links
            a(href='#') Gmail
          li.nav-links
            a(href='#') Images
          li#sign_in
            a(href='#') Sign In

            .google
      a#google_logo(href='#')
        img(src='images/myuploads/google.png',alt='Google',class='center' )

        .form
      form
        label(for='form-search')
        input#form-search(type='text', placeholder='Search Google or type URL')

        .buttons
      input#google_search(type='submit', value='Google Search')
      input#im_feeling_lucky(type='submit', value="I'm Feeling Lucky")

      footer
      ul.footer-left
        li
          a(href='#') Advertising
        li
          a(href='#') Business
        li
          a(href='#') About
      ul.footer-right
        li
          a(href='#') Privacy
        li
          a(href='#') Terms
        li
          a(href='#') Settings